* {
  margin: 0;
  padding: 0;
}

body {
}
.landing-page {
  .logo {
    img {
      width: 3em;
      margin: unset;
    }
  }
  .right-block {
    position: absolute;
    background-color: #dcc29c;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: 0;
    left: unset;
  }
  .hero-img {
    position: absolute;
    width: 100vw;
    display: grid;
    place-items: center;
    bottom: 0;
    img {
      width: 90%;
    }
  }
}
